.review {
  padding-bottom: 2%;
  margin-block: 2%;
  border-bottom: 1px solid silver;
}

.title {
  margin-bottom: 5px;
  font-size: 17px;
}

.time {
  color: #9d9d9d;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
}

.comment {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
}
