.header {
  width: 100%;
  text-align: center;
  padding-inline: 15px;
  margin-bottom: 47px;
}

.featureProducts {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .featureProducts {
    grid-template-columns: 48% 48%;
  }
}

@media only screen and (max-width: 576px) {
  .featureProducts {
    grid-template-columns: 100%;
  }
}
