.middleNav {
  width: 100%;
  padding: 27px 0 26px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchBar {
  display: flex;
}

.searchBar input {
  border: 2px solid #e8e8e8;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 8px;
  background-clip: inherit;
  color: #989898;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  padding: 5px 73px 5px 21px;
  width: 450px;
  font-weight: 400;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchIcon {
  display: none;
  color: #252525;
  font-size: 27px;
  font-weight: 400;
  margin-inline: 4px;
  cursor: pointer;
}

.searchBar button {
  align-items: center;
  background-color: #eb3e32;
  border-radius: 0 8px 8px 0;
  border: none;
  color: #fff;
  display: flex;
  height: 44px;
  font-size: 25px;
  line-height: 1;
  justify-content: center;
  width: 65px;
}

.cart .icon {
  color: #252525;
  font-size: 27px;
  font-weight: 400;
  margin-inline: 4px;
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 991px) {
  .searchBar {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }
  .searchIcon {
    display: inline-block;
  }
}
