.products {
  width: 100%;
  overflow: hidden;
  margin-bottom: 36px;
  cursor: pointer;
}

.image {
  border-radius: 13px;
  transition: all 0.4s ease-out;
  align-items: center;
  background-color: #fff;
  border-radius: 13px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
}

.discount {
  position: absolute;
  background-color: #eb3e32;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  display: inline-block;
  height: 24px;
  padding: 0 12.42px;
  text-align: center;
  top: 19px;
  left: 15px;
}

.info {
  margin-top: 13px;
}

.tag {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

.name {
  font-size: 16px;
  margin-bottom: 15px;
  color: #000;
  font-weight: 600;
  line-height: 1.2;
}

.price {
  color: #666;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.overlay {
  display: flex;
  flex-direction: column;
  width: 10%;
  position: absolute;
  text-align: center;
  top: 12px;
  right: 12px;
  opacity: 0;
  z-index: 3;
  transition: 0.5s;
  transition-property: opacity;
}
.overlay span {
  font-size: 16px;
  width: 32px;
  height: 32px;
  line-height: 28px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  color: #888;
  display: flex;
  transition: opacity 0.4s ease-out;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.5s;
  transition-property: background;
}

.overlay span:hover {
  background: #eb3e32;
}

.overlay span:hover svg {
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.products:hover .overlay {
  opacity: 1;
}

.overlay span svg {
  font: 32px;
}
