.topNav {
  width: 100%;
  background-color: #f4f4f4;
  padding: 8px 0 9px;
  color: #454545;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav ul li {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  color: #eb3e32;
  font-size: 1.1rem;
}

@media only screen and (max-width: 991px) {
  .nav ul {
    display: none;
  }

  .nav {
    justify-content: center;
  }

  .nav p {
    font-size: 13px;
    text-align: center;
  }
}
