.box {
  width: 100%;
  padding: 18px 28px;
  background-color: #f7f7f7;
  border-width: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.wrapper h4 {
  font-size: 18px;
  margin-bottom: 14px;  
}

.box p {
  color: #333131;
  font-weight: 400;
  font-size: 14px;
}

.box form {
  display: flex;
  gap: 20px;
  align-items: start;
  margin-top: 30px;
  margin-bottom: 20px;
}

.box .formTitle {
  margin-top: 10px;
}

.box form input {
  width: 20px;
}

.box form div {
  margin: 0px;
}

.box form label {
  margin-bottom: 0px;
}

.inputContainer div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkoutBtn {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 20px 40px 19px;
  background-color: #232324;
  border-color: #232324;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  border: none;
  margin-top: 20px;
  white-space: nowrap;
}
